.big-image img {
    max-width: 75%;
    max-height: 60%;
    box-shadow: 0 0 30px black;
}

.thumb {
    box-shadow: 0 0 20px #000;
    display: inline-block;
    width: 17%;
    height: 200px;
    background-position: center center;
    background-size: cover;
    margin: 15px;
}